<html>
    <head>
        style
            include static/css/index.css
    </head>
    <body>
        
        include search_bar.pug
        include header.pug

        <div class='text-body'>
            <p> welcome to a website about skaters pants.</p>
            <p>access <b><a href='/whatpantsarethose/find'>/find</a></b> or click the link above for a list of skaters and their pants</p>
            <p>access <b><a href='/whatpantsarethose/find/karlberglind'>/find/skater_ig_handle</a></b> or use the search bar above for a specific skaters pants </p>
            <p> <b> ~~ happy pants searching ~~ </b> </p>
        </div>

        script
            include static/js/search.js
    </body>
</html>
