<html>
    <head>
        style
            include static/css/index.css
    </head>
    <body>

        <div>
            <div id='back-button'> <a href='/whatpantsarethose'><p>home<p></a> </div>
            include search_bar.pug
        </div>

        include header.pug
        each post in posts
            h2=post['_id']['skater'] + ' (' + post['postCount'] + ' hits)'
            each skaterPost in post['data']
                p=skaterPost['pants'] + ' '
                    a(href=skaterPost["url"]) #{skaterPost['url']}
        script
            include static/js/search.js
    </body>
</html>