<html>
    <head>
        style
            include static/css/index.css
    </head>
    <body>
        
        <div class="header">
            <h1>rgyllenhammer.com</h1>
            <p>a site about me</p>
        </div>

        <div class='text-body'>
            <h1>projects</h1>
            <p><a href="/whatpantsarethose">whatpantsarethose</a>: a website dedicated to skaters pants.</p>
            <p><a href="https://rgyllenhammer.github.io"> personal website</a>: a terminal based website... will be moved over here shortly.</p>
            <br />
            <p>more projects will be written here soon</p>
        </div>

    </body>
</html>