body {
    font-family: monospace;
    padding: 2%;
}

.header {
    margin-top: 3%;
    text-align: center;
}

.text-body {
    margin-top: 2%;
}

#search-bar {
    float: right;
    text-align: right;
}

#back-button {
    float: left;
}

#skater-search {
    width: 300px;
}