body {
    font-family: monospace;
    padding: 2%;
}

.header {
    text-align: center;
}

.text-body {
    margin-top: 2%;
}

#search-bar {
    text-align: right;
}

#skater-search {
    width: 20%;
}